body {
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Rimuove margini dal body */

}

#presentazione,
#film {
    background-color: #E5E3E4 !important;
}

#presentazione {
    width: 100%;
    margin-left: 0;
}

header.custom-header {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #4A6D6B;
    color: white;
}

.custom-header .nav-link,
.custom-header .alert {
    color: white;
}

nav.custom-navbar {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #5E978C;
    margin-bottom: 0; /* Rimuove margini inferiori dalla navbar */
}

.custom-navbar .nav-link {
    color: white;
}

.nav {
    width: 100%;
    margin: 0px auto;
    padding: 16px;
}

/* Carousel Styles */
.carousel {
    width: 100%;
    margin: 0 auto; /* Allinea il carosello al centro */
    padding: 0;
    height: 600px; /* Imposta l'altezza del carosello */
}

.carousel-inner img {
    width: 100%; /* Mantiene l'immagine larga quanto il viewport */
    height: 600px; /* Aumenta l'altezza delle immagini del carosello */
    object-fit: cover; /* Mantiene l'aspetto dell'immagine */
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 10; /* Assicurati che i controlli siano sopra gli altri elementi */
}

.carousel-caption {
    width: 100%; /* Allinea il testo del carosello al centro */
    color: white;
    padding: 0;
    text-align: left; /* Allinea il testo a sinistra */
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    background-color: transparent;
    z-index: 5;
    position: absolute;
    bottom: 20%; /* Posiziona il testo a 20% dal fondo del carosello */
    padding-left: 60px; /* Aggiungi margine a sinistra per una migliore spaziatura */
}

.carousel-caption h2,
.carousel-caption h5 {
    font-size: 6rem; /* Aumenta la dimensione del titolo */
    font-weight: bold;
    margin-left: 60px;
}

.carousel-caption p {
    font-size: 1.3rem; /* Aumenta la dimensione del paragrafo */
    font-weight: bold;
    margin-left: 60px;
}

/* Card Styles */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s;
    max-width: 400px;
    margin: auto;
}

.card:hover {
    transform: scale(1.08);
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: none;
}

.card-body {
    flex-grow: 1;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .card-overlay {
    opacity: 1;
}

.card-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .card-details {
    opacity: 1;
}

.card-details a {
    margin: 5px 0;
    text-decoration: none;
    width: 100%;
    text-align: center;
    color: white;
}

.card-details a.btn-info {
    background-color: #17a2b8;
}

.card-details a.btn-warning {
    background-color: #ffc107;
}

.card-details a.btn-danger {
    background-color: #dc3545;
}

/* Additional spacing utilities */
.mb-4 {
    margin-bottom: 2rem;
}

.mt-auto {
    margin-top: auto;
}

/* Dark Overlay for Carousel Images */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0) 80%);
    z-index: 1;
}

/* Footer */
footer {
    background-color: #4A6D6B;
}

/* Logo size */
#logo {
    max-width: 50%;
}
