body {
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Rimuove margini dal body */
}

#presentazione,
#film {
    background-color: #E5E3E4 !important;
}

#presentazione {
    width: 100vw; /* Larghezza del viewport */
    margin-left: calc(-50vw + 50%); /* Allinea al centro */
    padding: 0; /* Rimuove il padding per una larghezza totale */
}

.carousel {
    height: 600px; /* Imposta l'altezza del carosello */
    margin-top: 0; /* Assicurati che il carosello non abbia margini superiori */
}

.carousel-inner img {
    height: 600px; /* Aumenta l'altezza delle immagini del carousel */
    object-fit: cover; /* Mantiene l'aspetto dell'immagine */
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 10; /* Assicurati che i controlli siano sopra gli altri elementi */
}




.carousel-caption {
    color: white; /* Colore del testo */
    padding: 10px; /* Padding intorno al testo */
    left: 0; /* Allinea il contenuto a sinistra */
    text-align: left; /* Allinea il testo a sinistra */
    font-weight: bold; /* Rende il testo in grassetto */
    font-family: 'Arial', sans-serif; /* Cambia il font; puoi sostituire con un altro font a tua scelta */
    background-color: transparent; /* Rimuove lo sfondo semitrasparente */
    z-index: 5; /* Imposta un z-index inferiore rispetto ai controlli */
    position: absolute; /* Assicurati che la caption sia posizionata assolutamente */
    bottom: 20%; /* Posiziona il testo a 20% dal fondo del carosello */
    padding-left: 60px; /* Aggiungi margine a sinistra per una migliore spaziatura */
}




.carousel-caption h2,
.carousel-caption h5 {
    font-size: 6rem; /* Aumenta la dimensione del titolo */
    font-weight: bold; /* Grassetto per il titolo */
    margin-left: 60px; /* Aggiungi un margine a sinistra */
}

.carousel-caption p {
    font-size: 1.3rem; /* Aumenta la dimensione del paragrafo */
    font-weight: bold; /* Grassetto per il paragrafo */
    margin-left: 60px; /* Aggiungi un margine a sinistra */
}


.custom-header {
    background-color: #4A6D6B;
    color: white;
}

.custom-header .nav-link,
.custom-header .alert {
    color: white;
}

.custom-navbar {
    background-color: #5E978C;
    margin-bottom: 0; /* Assicurati che la navbar non abbia margini inferiori */
}

.custom-navbar .nav-link {
    color: white;
}

.nav {
    width: 100%;
    margin: 0px auto;
    padding: 16px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s;
    max-width: 400px;
    margin: auto;
}

.card:hover {
    transform: scale(1.08);
}

.card-img-top {
    width: 100%;
    height: 100%; /* Rende l'immagine alta quanto la card */
    object-fit: cover; /* Adatta l'immagine per coprire l'area senza spazi vuoti */
    max-height: none; /* Permette all'immagine di occupare l'altezza intera della card */
}

.card-body {
    flex-grow: 1;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .card-overlay {
    opacity: 1;
}

.card-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .card-details {
    opacity: 1;
}

.card-details a {
    margin: 5px 0;
    text-decoration: none;
    width: 100%;
    text-align: center;
    color: white;
}

.card-details a.btn-info {
    background-color: #17a2b8;
}

.card-details a.btn-warning {
    background-color: #ffc107;
}

.card-details a.btn-danger {
    background-color: #dc3545;
}

.mb-4 {
    margin-bottom: 2rem;
}

.mt-auto {
    margin-top: auto;
}

/* Nuove regole per garantire che non ci sia spazio tra la navbar e il carosello */
.carousel {
    margin-top: 0; /* Assicurati che il carosello non abbia margini superiori */
}

<<<<<<< Updated upstream
/* Stile per l'overlay scuro delle immagini nel carosello */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0) 80%); /* Gradiente scuro ai lati */
    z-index: 1; /* Assicurati che l'overlay sia sopra l'immagine */
}


=======
footer {
    background-color: #4A6D6B;
}

#logo {
    max-width: 50%;
}



>>>>>>> Stashed changes
