body {
    font-family: "Cairo", sans-serif;
    margin: 0; /* Rimuove margini dal body */
    overflow-x: hidden;
}

.risutati {
    position: relative;
}

.errore {
    text-align: center;
    position: absolute;
    top: 22px;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    background-color: #ff4040;
    padding: 15px;
    z-index: 10;
    white-space: nowrap;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid white;
}

.successo {
    text-align: center;
    position: absolute;
    top: 22px;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    background-color: #4dff40;
    padding: 15px;
    z-index: 10;
    white-space: nowrap;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid white;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.25rem;
    font-weight: 700;
    z-index: 1000000000000;
    width: 100%;
}

#presentazione,
#film {
    background: radial-gradient(circle, rgba(11, 59, 111, 0.66) 59%, rgb(0, 0, 0) 100%) !important;
}

#presentazione {
    margin-top: 4rem;
    width: 100%;
    transform: scaleX(1.02) ;
    padding: 0;
}

.carousel {
    width: 100%;
    height: 600px;
}

.carousel-inner img {
    height: 600px;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 10;
}

.carousel-caption {
    color: white;
    padding: 10px;
    left: 0;
    text-align: left;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    background-color: transparent;
    z-index: 5;
    position: absolute;
    bottom: 20%;
    padding-left: 60px;
}

.carousel-caption h2,
.carousel-caption h5 {
    font-size: 6rem;
    font-weight: bold;
    margin-left: 60px;
}

.carousel-caption p {
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 60px;
}

.custom-header .nav-link,
.custom-header .alert {
    color: white;
}

.custom-navbar {
    background-color: #f8f9fa;
    margin-bottom: 0;
}

.custom-navbar .nav-link {
    color: #343a40;
}

.nav {
    width: 100%;
    margin: 0px auto;
    padding: 16px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
    transition: transform 0.3s;
    max-width: 400px;
    margin: auto;
}

.card:hover {
    transform: scale(1.08);
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: none;
}

.card-body {
    flex-grow: 1;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .card-overlay {
    opacity: 1;
}

.card-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .card-details {
    opacity: 1;
}

/* Modifiche per mostrare il titolo in basso con ombra */
.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Mostra il titolo e la scuritura al passaggio del mouse */
.card:hover .card-title {
    opacity: 1;
}


/* Pulsanti Dettagli, Modifica ed Elimina */
.card-details a,
.card-details button {
    display: inline-block;
    width: 100%; /* Pulsante occupa tutta la larghezza disponibile */
    max-width: 150px; /* Larghezza massima per i pulsanti */
    padding: 12px 0; /* Padding uniforme */
    box-sizing: border-box; /* Assicura che il padding non influisca sulla larghezza totale */
    border-radius: 4px; /* Bordo arrotondato */
    text-align: center; /* Allinea il testo al centro */
    color: white; /* Colore del testo */
    font-size: 1rem; /* Dimensione del font uniforme */
    font-weight: bold; /* Testo in grassetto */
    text-decoration: none; /* Rimuove la sottolineatura */
    margin: 5px 0; /* Margine uniforme */
}

/* Classe aggiuntiva per il pulsante Dettagli quando admin è NULL */
.pulsante-dettagli {
    max-width: 500px; /* Larghezza massima aumentata per il pulsante Dettagli */
}

/* Stili specifici per ciascun pulsante */
.btn-info {
    background-color: #17a2b8;
}

.btn-warning {
    background-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
}

.mb-4 {
    margin-bottom: 2rem;
}

.mt-auto {
    margin-top: auto;
}

.carousel {
    margin-top: 0;
}

.carousel-item {
    transition: transform 1s ease; /* Durata dello scorrimento */
}

.slide-in {
    transform: translateX(0);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0) 80%);
    z-index: 1;
}

#logo {
    max-width: 25%;
    border-radius: 30%;
}

footer {
    background-color: #f8f9fa; /* Sfondo chiaro per un contrasto sobrio */
    border-top: 1px solid #ddd;
}

footer p {
    margin: 0; /* Rimuovi margini extra */
    color: #343a40;
}

footer a {
    color: #343a40;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #007bff; /* Colore per l'hover sui link */
}

footer .font-weight-bold {
    font-size: 1.1rem;
}

footer .fab {
    font-size: 1.2rem; /* Aumenta la dimensione delle icone */
}

li {
    padding-left: 5px;
    padding-right: 5px;
}