<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="1° Festival Cinekids - Proiezione di celebri pellicole con protagonisti bambini e ragazzi">
    <title>Festival Cinekids</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="dettaglio.css">
    <style>
        .card {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }

        .card-body {
            padding: 20px;
        }

        .card-title {
            font-size: 24px;
        }

        .card-text {
            font-size: 16px;
        }

        .card img {
            max-height: 400px;
            object-fit: cover;
        }

        .iframe-container {
            position: relative;
            overflow: hidden;
            padding-top: 56.25%;
        }

        .iframe-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>

<header class="custom-header py-4">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-4">
                <img id="logo" src="logo.png">
            </div>
            <div th:if="${error != null}" class="alert alert-danger" role="alert" style="position: absolute; left: 43%">
                Credenziali sbagliate. Riprova.
            </div>
            <div th:if="${errorSuggerimento != null}" class="alert alert-danger" role="alert"
                 style="position: absolute; left: 35%">
                Suggerimento già inserito per questa email, puoi inviarne solo uno all'anno.
            </div>
            <div class="col-md-4 text-right">
                <div th:if="${admin != null}">
                    <a th:href="@{/logout(redirectUrl=${'/dettaglio?id=' + film.id})}" class="text-white">Logout</a>
                </div>
                <div th:if="${admin != null}">
                    <a href="#" class="text-white" data-toggle="modal" data-target="#aggiungiAdminModal"
                       th:onclick="'setFilmIdRegister(' + ${film.id} + ')'">Aggiungi admin</a>

                </div>
                <div th:if="${admin == null}">
                    <a href="#" class="text-white" data-toggle="modal" data-target="#adminModal"
                       th:onclick="'setFilmIdLogin(' + ${film.id} + ')'">Area Admin</a>

                </div>
            </div>
        </div>
        <div class="text-center">
            <h1>1° Festival Cinekids</h1>
            <h2 th:if="${admin != null}">Area amministrativa</h2>
            <p>Scopri le celebri pellicole con protagonisti bambini e ragazzi</p>
        </div>
    </div>
</header>

<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/sale">Sale</a></li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#suggerisciFilmModal"
                       th:onclick="'setFilmIdSuggerimento(' + ${film.id} + ')'">
                        Suggerimento
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <img th:src="@{${film.locandina == null ? 'markerImage.png' : film.locandina}}" class="card-img-top"
                     alt="Locandina di [[${film.titolo}]]">
                <div class="card-body">

                    <h5 class="card-title" th:text="${film.titolo}">Titolo Film</h5>
                    <p class="card-text"><strong>Regista:</strong> <span th:text="${film.regista}">Nome Regista</span>
                    </p>
                    <p class="card-text"><strong>Genere:</strong> <span th:text="${film.genere}">Genere</span></p>
                    <p class="card-text"><strong>Trama:</strong> <span th:text="${film.sinossi}">Sinossi</span></p>
                    <p class="card-text"><strong>Trailer:</strong></p>
                    <div class="iframe-container">
                        <iframe th:src="@{${film.trailer == null ? 'comingsoon.jpg': film.trailer}}"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>

                    <p class="card-text"><strong>Proiezioni:</strong></p>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Data e Ora</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data : ${date}">
                            <td th:text="${#temporals.format(data, 'dd/MM/yyyy HH:mm')}"></td>
                        </tr>
                        <tr>
                            <td colspan="1" class="text-center">In tutte le sale presenti in Cinekids</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="adminModal" tabindex="-1" aria-labelledby="adminModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminModalLabel">Login Area Admin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="adminLoginForm" action="/login" method="POST">
                    <input type="hidden" id="filmId" name="filmId">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Accedi</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function setFilmIdLogin(id) {
        document.getElementById('filmId').value = id;
        document.getElementById('adminLoginForm').setAttribute('action', '/login?redirectUrl=/dettaglio?id=' + id);
    }
</script>


<div class="modal fade" id="aggiungiAdminModal" tabindex="-1" aria-labelledby="aggiungiAdminModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aggiungiAdminModalLabel">Area Registrazione Admin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="aggiungiAdminForm" action="/register" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="emailAdminNuovo" name="emailAdminNuovo" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="passwordAdminNuovo" name="passwordAdminNuovo"
                               required>
                    </div>
                    <button type="submit" class="btn btn-primary">Registra</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function setFilmIdRegister(id) {
        document.getElementById('aggiungiAdminForm').setAttribute('action', '/register?redirectUrl=/dettaglio?id=' + id);
    }
</script>


<div class="modal fade" id="suggerisciFilmModal" tabindex="-1" aria-labelledby="suggerisciFilmModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="suggerisciFilmModalLabel">Suggerisci un Film</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="suggerimentoForm" action="/suggerimento" method="POST">
                    <input type="hidden" id="filmSuggeritoId" name="filmSuggeritoId">
                    <div class="form-group">
                        <label for="titolo_film">Titolo del Film</label>
                        <input type="text" class="form-control" id="titolo_film" name="titoloFilm" required>
                    </div>
                    <div class="form-group">
                        <label for="email_suggerimento">La tua Email</label>
                        <input type="email" class="form-control" id="email_suggerimento" name="emailSuggerimento"
                               required>
                    </div>
                    <button type="submit" class="btn btn-primary">Invia Suggerimento</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function setFilmIdSuggerimento(id) {
        document.getElementById('filmSuggeritoId').value = id;
        document.getElementById('suggerimentoForm').setAttribute('action', '/suggerimento?redirectUrl=/dettaglio?id=' + id);
    }
</script>


<footer class="text-white text-center py-3">
    <div class="container">
        <p>&copy; 2024 Festival Cinekids. Tutti i diritti riservati.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
